@import '../../style/color.scss';

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 30px 0;
  .join-input-text {
    font-weight: bold;
    font-size: 16px;
    display: flex;
  }

  .input-line {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #c6c6c6;
    box-sizing: border-box;
    padding: 12px;
  }
  .input-line::placeholder {
    font-size: 14px;
    color: #c6c6c6;
  }
  .input-line:invalid[focused='true'] {
    border-bottom: 1px solid red;
  }

  .input-line:invalid[focused='true'] ~ span {
    display: block;
  }
  .input-line-repeat {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #c6c6c6;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 12px;
  }
  .input-line-repeat::placeholder {
    font-size: 14px;
    color: #c6c6c6;

    position: absolute;
  }
}

.join-input-text {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  padding-bottom: 4px;
}

.errorMessage {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
