.join-checkbox-wrap {
  padding: 20px 0 50px 0px;
}
.join-checkbox {
  display: flex;
  padding: 0 0 12px 0px;
  border-bottom: 1px solid #c6c6c6;

  input[type='checkbox'] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 24px;
    height: 24px;
    background: #000;
  }
  .checkbox {
    display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
    height: 24px;
    width: 24px;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 8px;
  }

  .checkbox--active {
    border-color: var(--primary);
    background: var(--primary);
    .checkbox-active {
      fill: white;
    }
  }
}

.join-check {
  display: flex;
  padding: 12px 0 0px 0px;

  input[type='checkbox'] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 24px;
    height: 24px;
    background: #000;
  }
  .checkbox {
    display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
    height: 24px;
    width: 24px;
    margin-right: 4px;
  }

  .checkbox--active {
    color: var(--primary);
    .check-active {
      fill: var(--primary);
    }
  }
}

.join-not {
  padding: 50px 0 80px 0;
}
