$메인칼라: #079c28;
$타이틀텍스트: #3a3a3a;

.join-input-text {
  color: $타이틀텍스트;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  padding-bottom: 4px;
}
.form-group-line {
  padding: 16px 0;
  .input-line {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #c6c6c6;
    box-sizing: border-box;
    padding: 12px;
  }
  .input-line::placeholder {
    font-size: 14px;
    color: #c6c6c6;
  }
  .input-line-repeat {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #c6c6c6;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 12px;
  }
  .input-line-repeat::placeholder {
    font-size: 14px;
    color: #c6c6c6;

    position: absolute;
  }
}
.join-checkbox-wrap {
  padding: 60px 0 100px 0px;
}
.join-checkbox {
  display: flex;
  padding: 0 0 12px 0px;
  border-bottom: 1px solid #c6c6c6;

  input[type='checkbox'] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 24px;
    height: 24px;
    background: #000;
  }
  .checkbox {
    display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
    height: 24px;
    width: 24px;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 8px;
  }

  .checkbox--active {
    border-color: $메인칼라;
    background: $메인칼라;
    .checkbox-active {
      fill: white;
    }
  }
}

.join-check {
  display: flex;
  padding: 12px 0 0px 0px;

  input[type='checkbox'] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 24px;
    height: 24px;
    background: #000;
  }
  .checkbox {
    display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
    height: 24px;
    width: 24px;
    margin-right: 4px;
  }

  .checkbox--active {
    color: $메인칼라;
    .check-active {
      fill: $메인칼라;
    }
  }
}

.btn-fixed {
  background: $메인칼라;
  width: 100%;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
}
