.JoinCheck {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 2em;
}
.Joincheck-check {
  padding: 160px 0 40px 0;
}
.JoinCheck-message {
  font-size: 24px;
  font-weight: bold;
}
.JoinCheck-subMessage {
  font-size: 16px;
  padding: 30px 0 215px 0;
}
